<h1>Add ingredients to <%= @cocktail.name %></h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.error_notification %>
  <%= f.input :description %>
  <%= f.input :ingredient, collection: @ingredients, selected: @ingredients[0]%>

  <%= f.button :submit %>
<% end %>
